* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    font-family: 'Tilt Warp', cursive;
}

h1 {
    margin: 50px 0 50px 0;
    font-size: 2rem;
    color: rgb(32, 55, 183);
    -webkit-text-stroke: .5px black;
}
/*score style*/

#scoresAndLeaveBtn {
    display: flex;
    flex-direction: row;
   
    font-family: Arial, sans-serif;
}

#myScore, #oppScore {
    font-size: 16px;
    font-weight: bold;
}
#oppScore{
    left: 60%;
    position: relative;
}
#oppScore {
    margin-left: auto;
}

#leaveBtn {
    background-color: #e72d0c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: -52px;
    right: 50px;
    position: relative;
}

#leaveBtn:hover {
    background-color: #a9491d;
}
/*end score style*/

input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.2rem;
}

button {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

img {
    width: 30px;
}

#cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn {

    font-size: 2rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(206, 203, 203);
    border-radius: 10px;

}

#find {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(12, 12, 226)
}

.btn:hover {
    background-color: rgb(226, 228, 230);
}

button.enabled {
    opacity: 1;
}

p {
    font-size: 2rem;
}